@import "../../assets/scss/variables";

.priceTemplate {
  display: flex;
  background: lightgray;
  padding: 200px 0 200px;

  @media screen and (max-width: 767px) {
    padding: 20px 0 30px;
  }

  &__box{
    max-width: 500px;
    text-align: center;

  }

  &__price {
    color: $color-price;
    font-size: 35px;
    font-weight: 700;
  }

  &__desc-price {
    font-size: 20px;
  }

  &__desc {
    font-size: $font-size-base;
    margin: 50px 0 10px;
  }
}