@import '../../assets/scss/variables' ;


.app__button {

  & + .app__button {
    margin-left: 15px;
  }

  height: 36px;
  width: 189px;
  padding: 0 20px;
  background: $color-white;
  border-radius: $borderRadius;
  color: $color-white;
  font: $font-size-base $font-global;
  cursor: pointer;
  transition: opacity .15s ease-in;

  &_ml {
    margin-left: 15px;

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &_center {
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &:hover {
    opacity: .8;
  }

  &_primary {
    background: $primary;
    color: $color-white;
  }

  &_success {
    background: $success;
    color: $primary;
    border: $borderRadius solid $primary;
  }
}
