@import '../../assets/scss/variables' ;

body {
  font: $font-size-base $font-global;
  line-height: 1.2;
  color: $color-text;
}

.header {


  &__logo {
    font-size: $font-size-logo;
    font-weight: 900;
    color: $color-logo;
  }

}
.app {

  &__wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
  &-title {
    font-size: $font-size-title;
    color: $color-title;
    font-weight: 500;
    &_mb {
      margin-bottom: 15px;
    }
  }

  &-text {
    color: $color-text;
    font-size: $font-size-base;
    &_mb {
      margin-bottom: 25px;

    }
  }

  &-subtitle {
    padding: 23px 0 6px;
    font-size:$font-size-base;
    color: $color-title;
    font-weight: 500;
  }

  &-small-text {
    padding-bottom: 162px;
    font-size:$font-size-button;
    color: $color-subtitle-text;
    font-weight: 400;
  }
}

button + button {
  margin-left: 15px;
}