@import "../../assets/scss/variables";

.asideTemplate {
  display: flex;
  flex-wrap: wrap;

  &__box {
    max-width: 500px;
    padding-top: 160px;

    @media screen and (max-width: 599px) {
      flex-direction: column;
      text-align: center;
      padding: 18px 0;
      order: 2;
    }
  }

  &__title {
    padding-bottom: 16px;
  }

  &__img {
    padding: 108px 0 108px;
    max-width: 540px;

    @media screen and (max-width: 599px) {
      order: 1;
      padding: 0;

    }
  }

  .asideTemplate__inner {
    display: flex;
    flex-direction: row;
    padding-top: 80px;

    &-box {
      max-width: 250px;
    }

    @media screen and (max-width: 599px) {
      justify-content: center;
      flex-direction: row;
    }
  }
}