@import '../../assets/scss/variables' ;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 0;
  justify-content: space-between;

  @media screen and (max-width: 599px) {
    flex-direction: column;
  }

  &__logo {

    @media screen and (max-width: 599px) {
      margin-bottom: 30px;
    }
  }
}