@import "../../assets/scss/variables";

.navTemplate {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 599px) {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__item {
    color: $color-header-link;

    & + .navTemplate__item {
      margin-left: 15px;
    }
  }

  &__link {
    color: $color-header-link;
    text-align: center;
    text-decoration: none;
    font-size: $font-size-link;
  }
}
