@import "../../assets/scss/variables";

.mainContent {

  &__box {
    max-width: 539px;
    padding-top: 230px;

    @media screen and (max-width: 599px) {
      flex-direction: column;
      text-align: center;
      padding: 18px 0;
    }
  }

  &__title {
    font-size: calc(1rem + 3vw);
    color: $color-title;
    padding-bottom: 20px;
  }

  &__text {
    font-size: calc(1rem + 0.7vw);
  }

  &__button {
    display: flex;
    flex-wrap: wrap;
    margin: 69px 0 0;

    @media screen and (max-width: 599px) {
      flex-direction: column;

    }
  }
}