@import "../../assets/scss/variables";

.mainContent {


  //&__background {
  //  background-image: url("../../assets/images/background-main.png");
  //  margin-left: 326px;
  //  width: 1023px;
  //  max-height: 942px;
  //  background-size: cover;
  //  background-position: right;
  //}

  &__box {
    width: 539px;
    margin: 230px 0 0 163px;
  }

  &__title {
    font-size: $font-size-big;
    color: $color-title;
    padding-bottom: 20px;
  }

  &__text {
   font-size: 18px;
  }

  &__button {
   display: flex;
   padding: 69px 0 386px;
   margin-right: 30px;
  }
}